.list {
  width: 80%;
  margin: auto;
}

.list ul {
  list-style: none;
}

.list li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list a {
  text-decoration: none;
}

@media(max-width: 720px) {
  .list li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}