.notification {
  width: 32%;
  height: 16rem;
  margin: 1% 34%;
  padding: 2rem 4rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 8px black;
  border: 2px solid rgba(128, 255, 128, 0.8);
  border-radius: 16%;
  background: rgba(0, 0, 0, 0.8);
}

.notification span.status,
.notification span.message {
  margin: 2rem;
  font-size: 2rem;
  color: rgba(128, 255, 128, 0.8);
}

.close-button {
  padding: 0 0.4rem;
  padding-bottom: 0.4rem;
  right: 0.4rem;
  position: absolute;
  border-radius: 32%;
  background: rgba(0, 0, 0, 0.8);
  /* text-align: center; */
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.close-button:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.8);
  border-top: 4px solid rgba(128, 255, 128, 0.8);
  border-bottom: 4px solid rgba(128, 255, 128, 0.8);
  /* text-transform: uppercase; */
  color: white;
  cursor: pointer;
}

@media(max-width: 1024px) {
  .notification {
    width: 32rem;
    margin: 2% calc(50% - 16rem);
    /* font-size: 1rem; */
  }
  .notification span.status,
  .notification span.message {
    margin: 2rem;
  }
}

@media(max-width: 512px) {
  .notification {
    width: 64%;
    margin: 1rem 18%;
  }
}