.spinner {
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  box-shadow: 0 0 4px 4px rgba(128, 255, 128, 0.8);
  border: 2px solid black;
  border-top-color: white;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
  z-index: 1;
}

@keyframes spinner {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}