.header {
  width: 100%;
  height: 8rem;
  padding: 0 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.8);
  border: 2px solid black;
  background-color: rgba(128, 128, 128, 0.2);  
  animation: header 16s linear infinite;
}

.header > * {
  margin: 0 1rem;
}

@keyframes header {
  12.5% {
    border-left-color: rgba(128, 255, 128, 0.8);
  }
  25% {
    border-left-color: black;
  }
  37.5% {
    border-top-color: rgba(128, 255, 128, 0.8);
  }
  50% {
    border-top-color: black;
  }
  62.5% {
    border-right-color: rgba(128, 255, 128, 0.8);
  }
  75% {
    border-right-color: black;
  }
  87.5% {
    border-bottom-color: rgba(128, 255, 128, 0.8);
  }
  100% {
    border-bottom-color: black;
  }
}